html, body{
  height:100%; /* important to vertically align the container */
  margin:0;
  padding:0;
}

#app {
  font-family: 'Open Sans', sans-serif;

  #error-page{
    width: 220px;
    margin: 10px auto;
  }

  #logo{
    font-family: 'Titan One', cursive;
    width: 312px;
    margin: 35px auto 10px auto;
  }

  #search-container{
    .input-group, button{
      height: 38px;
    }
  }

  #results{
    h2{
      margin-top: 40px;
    }
    #facebook-page{
      margin-top: 15px;
      a {
        font-size: 16px;
        margin-top: 1px;
      }
    }
    .eventCard{
      margin: 0 0 20px 20px;
    }
    .eventCard:nth-child(1n){
      background-color: #97bee1;
    }
    .eventCard:nth-child(2n){
      background-color: #c5e4ff;
    }
  }

  #navigation-btns{
    width: 140px;
    margin: 0 auto;

    button{
      margin-right: 15px;
      height: 35px;
    }
  }

  #single-view{
    img{
      display: block;
      margin: 15px auto;
    }

    button{
      height: 38px;
      margin: auto;
      width: 70px;
      display: block;
    }

    .vertical-center {
      min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
      min-height: 100vh; /* These two lines are counted as one 🙂       */
      display: flex;
      align-items: center;
    }
  }
}